/*CSS Reset*/
* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}

#para1 {
	font-size: 13px;
	word-spacing: 5px;
	line-height: 15px;
}

#heading1 {
	font-size: 20px;
}

#heading2 {
	font-size: 25px;
}